.connection-wrap,
.marker-arrowhead,
.link-tools,
.marker-vertices {
  display: none
}

.element.basic.Rect {
  cursor: auto
}

.iterations-counter {
  position: absolute;
  margin: 1em;
}

.point-status {
  display: inline-block;
  margin-left: 1em;
  width: .5em;
  height: .5em;
  border-radius: 100%;

  &.red {
    background-color: darken(#d9534f, 10%);
    box-shadow: 0 0 .4em darken(#d9534f, 10%);
  }

  &.green {
    background-color: lighten(#357935, 10%);
    box-shadow: 0 0 .4em lighten(#357935, 10%);
  }
}